.name {
    color:  rgba(78, 78, 78, 0.925);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    font-size: 20px;
}

.conteiner {
    border: 5px solid rgba(74, 160, 117, 0.774) ;
    background-color:rgba(247, 228, 201, 0.623);
    /* background-image: url(https://img.freepik.com/foto-gratis/mesa-hecha-tablas-viejas-fondo_1360-434.jpg?w=2000); */
    width: 240px;
    max-height: 800px;
    margin: 30px;
    padding: 1%;

  }
  
.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}

.image:hover {
    border: 4px solid rgba(255, 255, 0, 0.753);
}
h3 {
    color:  rgba(78, 78, 78, 0.637);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    font-size: 18px;
}